<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers" version="2.8.2" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="PushSharp" version="4.0.10" targetFramework="net452" />
</packages>