<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
  <add key="BetseferProxy.BetseferWS" value="http://localhost:54860/BetseferWS.asmx" />
  </appSettings>
  <connectionStrings>
    <add name="Betsefer" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup52_test2; MultipleActiveResultSets=true;   User ID=bgroup52;Password=bgroup52_42982" providerName="System.Data.SqlClient" />
    <add name="bgroup52_test2ConnectionString" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup52_test2 ;MultipleActiveResultSets=true;User ID=bgroup52;Password=bgroup52_42982" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>